# Dart/Flutter
.dart_tool/
.packages
build/
pubspec.lock

# Duxt
.duxt/

# IDE
.idea/
*.iml
.vscode/

# Database
*.db
*.db-journal

# OS
.DS_Store
Thumbs.db

# Generated
*.g.dart
*.freezed.dart
.output/
